
// SegoeScript : 700
@font-face {
	font-family: 'SegoeScript';
	src: url('../fonts/SegoeScriptBold.eot');
	src: local('☺'), url('../fonts/SegoeScriptBold.woff') format('woff'), url('../fonts/SegoeScriptBold.ttf') format('truetype'), url('../fonts/SegoeScriptBold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

