<footer class="footer">
   <div class="container">
      <div class="footer__content">
         <div class="footer__phone">
            <div class="footer__cont">
               Контакты
            </div>
            <a class="footer__phon" href="tel:+7 495 145-27-70">+7 495 145-27-70</a>
         </div>
         <a class="footer__mail" href="mailto:za@zayavkin.com">
            za@zayavkin.com
         </a>
         <address class =  "footer__address">
            г. Москва, пр. Серебрякова, 14/15
         </address>
      </div>
   </div>
</footer><!-- footer -->