<header class="header  ">
   <div class="container">
   
      <div class="header__inner">
         <div class="header__left">
            
            <div class="header__logo">
               <a href="#">
                  <img src="assets/img/logo.png" alt="Логотип - заявки">
               </a>
            </div>

            <nav class="header__nav  nav">
               <ul class="nav__list">
      
                  <li class="nav__item">
                     <a class="nav__link" href="#">Услуги</a>
                  </li>
      
                  <li class="nav__item">
                     <a class="nav__link" href="#">Кейсы</a>
                  </li>
      
                  <li class="nav__item">
                     <a class="nav__link" href="#">Обучение</a>
                  </li>
      
                  <li class="nav__item">
                     <a class="nav__link" href="#">FAQ</a>
                  </li>
      
                  <li class="nav__item">
                     <a class="nav__link" href="#">Контакты</a>
                  </li>
      
               </ul>

               <button class="menu-icon-wrapper" id ="js-button">
                  <div class="menu-icon"></div>
               </button>
               
            </nav>
            
         </div> <!-- header__left -->

         <div class="header__info">
            <div class="header__phone">
               <a href="tel:+79999999999">+7 999 999 99 99</a>  
            </div>
            <div class="header__btn">
               <button>Обратный звонок</button>
            </div>
         </div>

      </div><!-- header__inner -->
      
      <div class="header__content">
         <h1 class="header__content-title">
            <span>
                <span class="header__content-za">Za</span>явкин
            </span> —  <br>
            профессионал в мире <br> <span>интернет-продвижения</span>
         </h1>
         <div class="buttons  header__buttons">
            <button class="buttons__btn-one" href="#">Заполнить бриф</button>
            <a class="buttons__btn-two" href="#">Посмотреть портфолио</a>
         </div>
      </div><!-- header__content -->

   </div> <!-- container -->
</header>

 