.header{
   position: relative;

   padding-top: 30px;
   min-height: 534px;

   background-image: url("../img/header/bg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.header__inner{
   position: relative;

   display: flex;
   justify-content: space-between;
}

.header__left{
   display: flex;
   align-items: center;
}

.header__logo{
   margin-right: 30px;
}

.nav__list{
   display: flex;
}

.nav__item:not(:last-child){
   margin-right: 50px;
}

.nav__link{
   font-size: 16px;
   line-height: 1px;
   color: $white;

   transition: color .2s linear;
   &:hover{
      color: $tango;
   }
   &:focus{
      outline: none;
      color: $tango;
   }
}


.header__info{
   display: flex;
   align-items: center;
}

.header__phone{
   a{
      font-size: 45px;
      color: $white;

      transition: color .2s linear;
      &:hover{
         color: $tango;
      }
      &:focus{
         outline: none;
         color: $tango;
      }
   }
}

.header__btn{
   margin-left: 20px;

   button{
      width: 160px;
      min-height: 48px;

      cursor: pointer;
      border: none;
      border-radius: 30px;
      background: linear-gradient(71.7deg, #D72828 -25.29%, #EE7D14 95.55%);

      font-size: 14px;
      line-height: 1;
      color: $white;

      &:hover{
         background: linear-gradient(#EE7D14 95.55% 71.7deg, #D72828 -25.29%);
      }
      &:focus{
         outline: none;
         background: linear-gradient(#EE7D14 95.55% 71.7deg, #D72828 -25.29%);
      }
   }
}

.header__content{
   position: relative;
   top: 242px;
}

.header__content-title{
   margin-bottom: 40px;

   font-weight: 700;
   font-size: 80px;
   line-height: 1.17;
   color: $white;
 
   span:first-child{
      text-transform: uppercase;
      span{
         color: #d76348;
      }
   }
   span:last-child{
      color: $black;
   }
}
 


.menu-icon-wrapper {
   
   background: none;
   border: none;
   cursor: pointer;

   &:focus{
      outline: none;
   }

   /*   background: red; */
     width: 30px;
     height: 30px;
     display: none;
     justify-content: center;
     align-items: center;
   }
   
   .menu-icon {
     position: relative;
     width: 30px;
     height: 5px;
     background-color: #fff;
   }
   
   .menu-icon::before {
     position: absolute;
     left: 0;
     top: -10px;
     content: '';
     width: 30px;
     height: 5px;
     background-color: #fff;
     transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
   
   }
   
   .menu-icon::after {
     position: absolute;
     left: 0;
     top: 10px;
     content: '';
     width: 30px;
     height: 5px;
     background-color: #fff;
     transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
   
   }
   
   .menu-icon.menu-icon-active {
     background-color: transparent;
   }
   
   .menu-icon.menu-icon-active::before {
     transform: rotate(45deg);
     top: 0;
     transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
   }
   
   .menu-icon.menu-icon-active::after {
     transform: rotate(-45deg);
     top: 0;
     transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
   }
   
 
 
@media (max-width: 1394px){
   .header__phone{
      a{
         font-size: 20px;
      }
   }
   .header__content{
      top: 260px;
   }
}

 
@media (max-width: 1221px){
   .nav__item:not(:last-child){
      margin-right: 20px;
   }
   .header__logo{
      img{
         width: 200px;
      }
   }
   
}

@media (max-width: 992px){
    
   .nav__list{
      padding-top: 10px;
      padding-bottom: 10px;

      display: flex;
      flex-direction: column;
      text-align: center;

      background-color: $black;

      position: absolute;
      left:0;
      right: 0;
      z-index: 100;
      top: 54px !important;
 
      opacity: 0;
      visibility: hidden;
       
      transition: opacity .2s linear, transform .4s linear;

      transform: translateY(-100px)
   }
   .nav__list.active{
      display: flex;
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
   }
   
   .nav__item{
      display: block;
      margin-right: 0 !important;
      margin-bottom: 10px;
    
   }
   .nav__link{
      padding: 10px;
      display: block;
      width: 100%;

   }

   .menu-icon-wrapper{
      display: flex;
   }
  
}

 
@media (max-width: 941px){
   .header__content-title{
      font-size: 53px;
   }
   .header__content{
      top: 324px;
   } 
} 

@media (max-width: 768px){
  .header{
    min-height: 396px;
  }
  .header__content{
   top: 186px;
  }
}

@media (max-width: 650px){
   .header__content{
      top: 208px;
   }
   .header__buttons{
      button{
         margin-right: 0;
         margin-bottom: 15px;
      }
    
      flex-direction: column;
   
   }
}

@media (max-width: 639px){
   .nav__list{
      top: 77px !important;
   }

   .header__info{
      flex-direction: column;
   }
   .header__btn{
      margin-top: 5px;
      margin-left: 0;
   }

   .header__logo{

      img{
         display: none;
         width: 100px;
      }
   }

   .header__content{
      top: 179px;
   }
   .header__content-title{
      font-size: 26px;
   }
 

   .header__btn{
      button{
         width: 144px;
         min-height: 35px; 
      }
   }
   .header{
      min-height: 344px;
   }
   .header__content-title{
      margin-bottom: 20px;
   }
}

@media(max-width: 332px){
   .header__content{
      top: 191px;
   }
}