.skills{
   margin-top: 50px;
   margin-bottom: 1400px;
   position: relative;
}

.skills__img{
   position: absolute;
   right: -80px;
   top: 200px;
}

.skills__title{
   font-weight: 700;
   font-size: 80px;
   line-height: 1.2;
   color: $black;
}

.skills__text{
   margin-top: 35px;

   text-align: left;
   font-family: "SegoeScript", sans-serif;
   font-weight: 700;
   font-size: 40px;
   line-height: 1.2;
   color:  $emperor;
}

.skills__1{
   position: absolute;
   right: 120px;
   top: -56px;
   max-width: 858px;
}

.skills__2{
   position: absolute;
   top: 311px;

   max-width: 390px;
}

.skills__3{
   position: absolute;
   top: 1024px;
   left: 55px;

   max-width: 635px;
}


.skills__4{
   position: absolute;
   top: 1024px;
   left: 1160px;

   max-width: 504px;
}

.skills__arrow{
   position: absolute;
}

.skills__arrow1{
   left: 217px;
   top: 91px;
}

.skills__arrow2{
   top: 669px;
   left: 105px;
}

.skills__arrow3{
   top: 1097px;
   left: 683px;
}

@media (max-width: 1600px){
   .skills{
      margin-bottom: 900px;
   }
   .skills__inner{
      position: relative;
      max-width: 968px;
      margin-left: auto;
      margin-right: auto;
   }

   .skills__img{
      width: 578px;
      right: 0;
   }
   .skills__text{
      font-size: 25px;
   }
   .skills__title{
      font-size: 40px;
   }   
   .skills__1 {
      position: absolute;
      right: 15px;
      top: 86px;
      max-width: 535px;
      .skills__text{
         margin-top: 5px;
      }
    }

   .skills__2{
      max-width: 307px;
   }
 
   .skills__3{
      top: 599px;
      left: 55px;
      max-width: 411px;
   }

   .skills__4{
      top: 575px;
      left: 595px;
      max-width: 343px;
   }

   .skills__arrow1{
      width: 255px;
      left: 73px;
      top: 118px;
}
 
   .skills__arrow2{
      top: 510px;
      left: 105px;
      width: 27px;
   }
   .skills__arrow3{
      width: 146px;
      top: 653px;
      left: 398px;
   }
}

@media (max-width: 950px){
   .skills  {
      margin-bottom: 0;
   }
   .skills__arrow1{
      display: none
    }
    
    .skills__arrow2{
      display: none
    }
    
    .skills__arrow3{
       display: none;
    }
   

   .skills__1, .skills__2, .skills__3, .skills__4{
      position: static;
      max-width: 100%;
    
   }
   .skills__img{
      max-width: 100%;
      position: static;
   }

   .skills{
      margin-top: 63px;
   }

   .skills__text{
      margin-top: 13px;
      width: 100%;
      text-align: center;
   }

   .skills__title{
      margin-left: auto;
      margin-right: auto;

      text-align: center;
      margin-top: -77px;
   }

   .skills__inner{
      text-align: center;
   }
   .skills__1, .skills__2, .skills__3, .skills__4{
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;

      text-align: center;
   }
   .skills__img{
      margin-top: -73px;
   }

}     

@media (max-width: 500px){
   .skills__title{
      margin-top: -45px;
   }
}